* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.viewport {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: white;
	color: #184B5C;
	font-size: 20px;
	font-weight: bold;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 40px;
	max-width: 200px;
	background: #D3EAF2;
	padding: 10px;
	border: 1px solid #90C3D4;
	color: #184B5C;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	user-select: none;
	outline: none;
}

.button:hover {
	border: 1px solid green;
}

.button[disabled='disabled'] {
	opacity: 0.5;
}

input {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 40px;
	max-width: 200px;
	background: #D3EAF2;
	padding: 10px;
	border: 1px solid #90C3D4;
	color: #184B5C;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	outline: none;
}

input::-webkit-input-placeholder {
	color: #184B5C;
}

input[readonly='readOnly'] {
	opacity: 0.5;
}