* {
	margin: 0;
	padding: 0;
}

title {
	display: none;
}

body {
	padding-top: 48px;
	display: flex;
	width: 100vw;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
}

#top-bar {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	color: white;
	width: 100vw;
	height: 48px;
	/* border-bottom: 1px solid black; */
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
}

#menu {
	position: fixed;
	top: 48px;
	left: 0;
	background: black;
	color: white;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	border-top: 1px solid white;
}

#menu > div {
	width: 100vw;
	height: 48px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

#menu > div:hover {
	opacity: 0.5;
}

.margin {
	margin: 4px;
}

.hidden {
	display: none !important;
}

.icon {
	margin: 4px;
	display: flex;
	width: 32px;
	height: 32px;
	align-content: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.icon:hover {
	opacity: .5;
}

.center {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

/* .title {

	width: 100%;
	height: 24px;

	font-size: 1.5em;
	font-weight: bold;

	padding: 4px 0;

}

.column {

	flex-direction: column;

}

.wide {

	width: 100%;

} */